.root {
  background-color: white;
  border-radius: 4px;
  min-height: 75px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 10px;
  display: flex;
}

.title {
  flex-grow: 1;
  padding: 8px 5px 5px 5px;
  font-size: 17px;
  resize: none;
  border: none;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80px;
  padding: 10px;
}

.button {
  appearance: none;
  display: block;
  border: none;
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url(./mark-unchecked.png);
  background-repeat: no-repeat;
  background-size: 35px 35px;
}

.buttonCheck {
  background-image: url(./mark-unchecked.png);
}

.buttonDelete {
  background-image: url(./delete.png);
}

.buttonCheck.buttonIsDone {
  background-image: url(./mark.png);
}